.button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px; 
  height: 71px;
  border: 1px solid #6B8C49;
  font-size: 25px;
  color: #fff;
  margin-top: 37px;
  font-weight: 700;
  cursor: pointer; 
  
  

}