.development{
  
  height: fit-content; 
  background-color: #262626; 
  padding-top: 50px;
  padding-bottom: 35px;
}



.developmentWrapper{
  display: flex;
  justify-content: space-between;
  width: 70%; 
  margin: auto;
  margin-top: 25px;
  
}

@media screen and (max-width: 1444px) {
  .developmentWrapper{
    width: 80%;
  }
}