
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.contacts{ 
  width: 90%;
  height: fit-content; 
  margin: 0 auto; 
  padding-bottom: 50px;
  font-family: 'Inter', sans-serif;
  .contactsWrapper{ 
    display: flex;
    justify-content: space-between;
    .contactsLeft{
      position: relative;  
      z-index: 2;
      &::after{
        content: '';
        position: absolute; 
        top: 40px;
        left: 5px;
        width: 700px;
        height: 475px; 
        background: #6B8C49;
        z-index: -1;

      }

      

      
    }
    .contactsRight{ 
      padding-top: 70px;
    }

  }
}